{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
<canvas class="cavs" width="1575" height="1337"></canvas>
<form method="post" action="{% url "log_in" %}">
    {% csrf_token %}
    <div class="loginmain">
        <div class="login-title">
            <span>用户登录</span>
        </div>

        <div class="login-con">
            <div class="login-user">
                <div class="icon">
                    <img src="{% static "image/cd-icon-username.png" %}" alt="">
                </div>
                <label>
                    <input type="text" name="username" placeholder="用户名" autocomplete="off" value="">
                </label>
            </div>
            <div class="login-pwd">
                <div class="icon">
                    <img src="{% static "image/cd-icon-password.png" %}" alt="">
                </div>
                <label>
                    <input type="password" name="pwd" placeholder="密码" autocomplete="off" value="">
                </label>
            </div>

            <div class="login-btn">
                <input type="submit" value="登录">
            </div>
            <div>
                <a href="{% url 'register' %}" style="color: white;font-family: 微软雅黑"> 没有账号？注册一个</a>
            </div>

        </div>

    </div>
</form>
</body>
</html>

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="{% static "js/ban.js" %}"></script>